
<body class="background-color-body">
    <div class="container main-container-color shadow-lg">
      <!-- the container is the start of the container  that has boxes inside it -->
     
    {% set title = "Tech" %}
    {% include 'reusable/card-heading.html' %}
    
    <!--------------set the card structure ------>
    
    
  <div class="row flex-column flex-md-row mt-2">
    <!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
    {%set card_first_url = "../static/images/misc/cards.jpg" %}

    {% if card_one_text and image_url_card_one %}
    {% include 'reusable/card.html' %}
    {% endif %}

    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
    {%set card_first_url = "../static/images/misc/cards.jpg" %}

    {% if card_one_text and image_url_card_one %}
    {% include 'reusable/card.html' %}
    {% endif %}


    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
    {%set card_first_url = "../static/images/misc/cards.jpg" %}

    {% if card_one_text and image_url_card_one %}
    {% include 'reusable/card.html' %}
    {% endif %}

  <!------------------the border is for the color -------------------->

</div>

    
  
  
    <!--------------set the card structure ------>
    
  <div class="row flex-column flex-md-row mt-2">
    <!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
    {%set card_first_url = "../static/images/misc/cards.jpg" %}

    {% if card_one_text and image_url_card_one %}
    {% include 'reusable/card.html' %}
    {% endif %}


    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
    {%set card_first_url = "../static/images/misc/cards.jpg" %}

    {% if card_one_text and image_url_card_one %}
    {% include 'reusable/card.html' %}
    {% endif %}


    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
    {%set card_first_url = "../static/images/misc/cards.jpg" %}

    {% if card_one_text and image_url_card_one %}
    {% include 'reusable/card.html' %}
    {% endif %}

  <!------------------the border is for the color -------------------->

</div>

    
    <!--------------------The end of one card  ---------------->

    
    <!--------------set the card structure ------>
   
  <div class="row flex-column flex-md-row mt-2">
    <!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
    {%set card_first_url = "../static/images/misc/cards.jpg" %}

    {% if card_one_text and image_url_card_one %}
    {% include 'reusable/card.html' %}
    {% endif %}


    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
    {%set card_first_url = "../static/images/misc/cards.jpg" %}

    {% if card_one_text and image_url_card_one %}
    {% include 'reusable/card.html' %}
    {% endif %}


    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
    {%set card_first_url = "../static/images/misc/cards.jpg" %}

    {% if card_one_text and image_url_card_one %}
    {% include 'reusable/card.html' %}
    {% endif %}

  <!------------------the border is for the color -------------------->

</div>

    
    <!--------------------The end of one card  ---------------->
    {% include 'reusable/more.html' %}
    
    
    
    </div>
    
    </body>