  <!--- the heding continer row -->


  <div class="row flex-column flex-md-row mt-2">
      <!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

      {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
      {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
      {% include 'reusable/card.html' %}


      {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
      {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
      {% include 'reusable/card.html' %}


      {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
      {%set image_url_card_one = "../static/images/misc/cards.jpg" %}
      {% include 'reusable/card.html' %}

    <!------------------the border is for the color -------------------->

  </div>

