
<body class="background-color-body">
    <div class="container main-container-color shadow-lg">
      <!-- the container is the start of the container  that has boxes inside it -->
    
    
    
     
    {% set title = titles[0] %}
    {% if title %}
    {% include 'reusable/card-heading.html' %}
    {% endif %}
  
    <!---------------------the image passed -------------->
  
    {% include 'reusable/article-image.html' %}
    
    <!---------------the article ------------>    
    
    {% set article_para = article_paras[0] %}
    {% if article_para %}
    {% include 'reusable/article-desc.html' %}
    {% endif %}
  
  
    {% set title = titles[1] %}
    {% if title %}
    {% include 'reusable/card-heading.html' %}
    {% endif %}
   
    {% set article_para = article_paras[1] %}
    {% if article_para %}
    {% include 'reusable/article-desc.html' %}
    {% endif %}
      
    {% set title = titles[2] %}
    {% if title %}
    {% include 'reusable/card-heading.html' %}
    {% endif %}
    <!--------------set the card structure ------>
    
    {% include 'reusable/cards-display.html' %}
    
    <!--------------------The end of one card  ---------------->
    {% include 'reusable/more.html' %}
    
    
    
    </div>
    
    </body>