<!DOCTYPE html>
<!--usin the bootstrap in the site for styling and optimization of the screen size-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href ="../static/styles.css">
    
    <title>Home Page</title>
  </head>
  <body>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




<div class="container bg-light">
    <!-- the container is the start of the container  that has boxes inside it -->


    <div class="row flex-column flex-md-row">
        <!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

      <div class="col border border-primary">Column 1</div>
      <div class="col border border-primary">Column 2</div>
      <div class="col border border-primary">Column 3</div>

      <!------------------the border is for the color -------------------->

    </div>

    <div class="row flex-column flex-md-row">
        <!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

      <div class="col border border-primary">Column 1</div>
      <div class="col border border-primary">Column 3</div>

      <!------------------the border is for the color -------------------->

    </div>

  </div>
  






</body>

</html>