
<body class="background-color-body">
<div class="container main-container-color shadow-lg">
  <!-- the container is the start of the container  that has boxes inside it -->


<!------The  welcome bio block -->
{% set welcome_text = "Welcome To Abhi's World" %}
<!----- set the welcome text ------->
{% set bio_text = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley" %}
<!----------------The bio text is passed--------------------->
{% include 'face-bio.html' %}

 

<!--------------set the card structure ------>
{% set title = "Tech" %}
<!--------- set the title ------->
{% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
<!--------- ------set card text------- ------->
{% set card_two_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
{% set card_three_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
{% include 'cards-display.html' %}
    

<!--------------set the card structure ------>
{% set title = "Projects" %}
<!--------- set the title ------->
{% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
<!--------- ------set card text------- ------->
{% set card_two_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
{% set card_three_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
{% include 'cards-display.html' %}


<!--------------set the card structure ------>
{% set title = "Life" %}
<!--------- set the title ------->
{% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
<!--------- ------set card text------- ------->
{% set card_two_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
{% set card_three_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
{% include 'cards-display.html' %}




</div>

</body>