  <!--- the heding continer row -->


  <div class="row flex-column flex-md-row mt-2">
      <!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

    <div class="col">

      <!--- start the card -->
      <div class="card" style="width: 100%">
        <img src="{{ image_url_card_one }}" class="img-fluid card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text font-color-class"><a href="" class="font-color-class text-decoration-none">{{ card_one_text }}</a></p>
        </div>
      </div>

      <!-----card ends----->

    </div>

    <div class="col">

      <!--- start the card -->
      <div class="card" style="width: 100%">
        <img src="{{ image_url_card_two }}" class="img-fluid card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text font-color-class"><a href="" class="font-color-class text-decoration-none">{{ card_two_text }}</a></p>
        </div>
      </div>

      <!-----card ends----->

    </div>
    <div class="col">

              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="{{ image_url_card_three }}" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text font-color-class"><a href="" class="font-color-class text-decoration-none">{{ card_three_text }}</a></p>
                </div>
              </div>
      
              <!-----card ends----->
    </div>

    <!------------------the border is for the color -------------------->

  </div>

