




<div class="container bg-light">


    <!------------------the conctact me box ----------------->
<div class = "row  border border-primary" >
<div class ="col text-center">
<h1 style="font-size: 3vw;"> This is heading</h1>

</div>
</div>



<div class="row flex-column flex-md-row">
<!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

<div class="col border border-primary">
              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="../static/cards.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body ">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
      
              <!-----card ends----->
</div>
<div class="col border border-primary">
              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="../static/cards.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
      
              <!-----card ends----->
</div>
<div class="col border border-primary">
              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="../static/cards.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
      
              <!-----card ends----->
</div>

<!------------------the border is for the color -------------------->

</div>


<div class="row flex-column flex-md-row">
<!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

<div class="col border border-primary">
              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="../static/cards.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
      
              <!-----card ends----->
</div>
<div class="col border border-primary">
              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="../static/cards.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
      
              <!-----card ends----->
</div>
<div class="col border border-primary">
              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="../static/cards.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
      
              <!-----card ends----->
</div>

<!------------------the border is for the color -------------------->

</div>



<div class="row flex-column flex-md-row">
<!-- the row starts the row and flex-column used as the making the column up and down then flex-md-row used for the break point-->

<div class="col border border-primary">
              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="../static/cards.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
      
              <!-----card ends----->
</div>
<div class="col border border-primary">
              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="../static/cards.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
      
              <!-----card ends----->
</div>
<div class="col border border-primary">
              <!--- start the card -->
              <div class="card" style="width: 100%">
                <img src="../static/cards.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
      
              <!-----card ends----->
</div>

<!------------------the border is for the color -------------------->

</div>

<!------------------the conctact me box ----------------->
<div class = "row  border border-primary" >
<div class ="col text-center">
<h1 style="font-size: 3vw;"> More</h1>

</div>
</div>



</div>

