
<body class="background-color-body">
    <div class="container main-container-color shadow-lg">
      <!-- the container is the start of the container  that has boxes inside it -->
     
    {% set title = "Tech" %}
    {% include 'card-heading.html' %}
    
    <!--------------set the card structure ------>
    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    <!--------- ------set card text------- ------->
    {%set image_url_card_one = "../static/cards.jpg" %}
    
    {% set card_two_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_two = "../static/cards.jpg" %}
    
    {% set card_three_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_three = "../static/cards.jpg" %}
    
    {% include 'cards-display.html' %}
    
    
    
    
    <!--------------set the card structure ------>
    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    <!--------- ------set card text------- ------->
    {%set image_url_card_one = "../static/cards.jpg" %}
    
    {% set card_two_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_two = "../static/cards.jpg" %}
    
    {% set card_three_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_three = "../static/cards.jpg" %}
    
    {% include 'cards-display.html' %}
    
    <!--------------------The end of one card  ---------------->

    
    
    
    <!--------------set the card structure ------>
    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    <!--------- ------set card text------- ------->
    {%set image_url_card_one = "../static/cards.jpg" %}
    
    {% set card_two_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_two = "../static/cards.jpg" %}
    
    {% set card_three_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_three = "../static/cards.jpg" %}
    
    {% include 'cards-display.html' %}
    
    <!--------------------The end of one card  ---------------->
    {% include 'more.html' %}
    
    
    
    </div>
    
    </body>