
<body class="background-color-body">
    <div class="container main-container-color shadow-lg">
      <!-- the container is the start of the container  that has boxes inside it -->
    
    
    
     
    {% set title = "About Me" %}
    {% include 'card-heading.html' %}
  
    <!---------------------the image passed -------------->
    {% set image_src = "../static/profile-pic.jpg" %}
    {% include 'about-pic.html' %}
    
    {% include 'social-media.html' %}

    <!---------------the article ------------>
    {% set article_para = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
     when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
     It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
      publishing software like Aldus PageMaker including versions of Lorem Ipsum." %}
    
    {% include 'article-desc.html' %}

    {% set title = "Skills" %}
    {% include 'card-heading.html' %}

    {% set title = "Python | C++ | JavaScript | Shell Scripting" %}
    {% set title_two = "ML | Deep Learning | Data Cleaning | TensorFlow| Pytorch| Scikit-learn" %}
    {% set title_three = "AWS | CI/CD | Ansible | Kubernetes | Version-control| Git" %}
    {% set title_four = "Front-end| Sql/No Sql db | Agile Methodology | Automation | Testing " %}
    {% include 'skills-heading.html' %}

    {% set title = "Experience" %}
    {% include 'card-heading.html' %}

    

    {% set heading_one = "ProPlaygrounds" %}
    {% set heading_two = "SDE" %}
    {% set desc_one = "Implemented a Machine Learning product recommendation system, based on the most sold products in recent months.utilizing Popularity-Based Recommendation and Content-Based Filtering algorithms." %}
    {% set desc_two = "Achieved a notable 20% increase in user engagement, a 15% improvement in click-through rates, and a 10% increase in conversion rates" %}
    {% set desc_three = "Implemented a robust sorting system utilizing plugins to enhance product filtering capabilities on the website" %}
    {% set desc_four = "Executed comprehensive testing procedures for the website, employing GitLab CI/CD, Selenium, Ansible and Python to validate the efficiency of the filtering process and optimize the customer checkout experience." %}
    {% include 'experience-list-one.html' %}


    {% set heading_one = "Cognitive Geo Interpretation Inc " %}
    {% set heading_two = "SDE (Intern)" %}
    {% set desc_one = "Development, design, and ongoing maintenance of a robust GitLab CI/CD pipeline, enabling seamless infrastructure
    development for standalone machines on AWS. Employed Ansible for efficient provisioning processes. This pipeline has
    been instrumental in production, facilitating developer machine deployments.
    " %}
    {% set desc_two = "Elevated software quality through comprehensive end-to-end testing initiatives, driving an increase in test coverage from
    65% to an impressive 75%. Leveraged Pytest, unit testing, and coverage analysis to achieve these results" %}
    
    {% include 'experience-list-two.html' %}


    

    {% set heading_one = "Florida State University" %}
    {% set heading_two = "Research Assistant" %}
    {% set desc_one = "Achieved a prediction accuracy of around 90% by Implementing Fed-Avg algorithm for Federated learning on MNIST
    data set with six learning workers using Pytorch.
    " %}
    {% set desc_two = "Achieved 30% faster task off-loading by developing Double deep - Q learning model in Pytorch for Reinforcement
    Learning task, on edge devices.
    " %}
    {% set desc_three = "Increase time efficiency by 60 % by developing automation scripts to collect and process data from Zigbee and Wi-Fi
    devices." %}
    {% include 'experience-list-three.html' %}

    

    {% set heading_one = "Florida State University" %}
    {% set heading_two = "Voluntary Research Assistant" %}
    {% set desc_one = "Accomplished the development of a website backend prototype, for seamless CRUD operations on an SQLite database
    using Python. Crafted and populated the database with a substantial dataset comprising 2000 entries..
    " %}
    {% set desc_two = "Tested code quality by leveraging Pytest and Unit Testing methodologies. Achieved an impressive 85% code coverage
    across the project, showcasing a meticulous approach to software development" %}

    {% include 'experience-list-four.html' %}
  
    
{% set title = "Projects" %}
{% include 'card-heading.html' %}

<!--------------set the card structure ------>
{% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
<!--------- ------set card text------- ------->
{%set image_url_card_one = "../static/cards.jpg" %}

{% set card_two_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
{%set image_url_card_two = "../static/cards.jpg" %}

{% set card_three_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
{%set image_url_card_three = "../static/cards.jpg" %}

{% include 'cards-display.html' %}

<!--------------------The end of one card  ---------------->
{% include 'more.html' %}

    {% set title = "Soft Skills" %}
    {% include 'card-heading.html' %}



    {% set title = "Active Listening | Innovation | Critical Thinking | Bilingual Communication | Collaborative Team Player" %}
    {% set title_two = "" %}
    {% set title_three = "" %}
    {% set title_four = "" %}
    {% include 'skills-heading.html' %}


  {% set title = "Articles" %}
  {% include 'card-heading.html' %}
 
  
    <!--------------set the card structure ------>
    {% set card_one_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    <!--------- ------set card text------- ------->
    {%set image_url_card_one = "../static/cards.jpg" %}
    
    {% set card_two_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_two = "../static/cards.jpg" %}
    
    {% set card_three_text = "Some quick example text to build on the card title and make up the bulk of the card's content" %}
    {%set image_url_card_three = "../static/cards.jpg" %}
    
    {% include 'cards-display.html' %}
    
    <!--------------------The end of one card  ---------------->
    {% include 'more.html' %}
    
    </div>
    
    </body>