
<div class = "row mt-3 md-3" >

    <div class="col">
    </div>

    <div class="col background-color-body rounded">
      
    <div class = "row p-1" >
    <!-- linkedin -->
    <div class="col text-center">
    <a href="https://www.linkedin.com/in/abhishek256/" class = "" target="_blank"><img src="../static/linkedin.svg" class= "leetcode-icon hover-effect-linkedin" width="34" height="34" alt="LeetCode"></a>
    </div>

    <div class="col">
    <!-- Github -->
    <a href="https://github.com/abhishekprakash256" class = "" target="_blank"><i class=""><img src="../static/github.svg" class= "leetcode-icon hover-effect-github" width="33" height="33" alt="LeetCode"></i></a>
    
    </div>

    <div class="col">
    <a href="https://www.kaggle.com/abhishek256" class = "" target="_blank"><i class=""><img src="../static/kaggle.svg" class= "leetcode-icon hover-effect-kaggle" width="33" height="33" alt="LeetCode"></i></a>
    </div>


    <div class="col">
    <a href="https://leetcode.com/abhishekprakash256/" class = "" target="_blank"><i class=""><img src="../static/leetcode.svg" class= "leetcode-icon hover-effect-leetcode" width="33" height="33" alt="LeetCode"></i></a>
    </div>
    </div>
    </div>

<div class="col"> </div>
</div>
    
    