<html>
<h1>
This is homepage page 
</h1>
<body>
    <a href="{{ url_for('homepage') }}">
        <button type="button">Go to Home Page</button>
    </a>

    <a href="{{ url_for('about') }}">
        <button type="button">Go to About Page</button>
    </a>

    <a href="{{ url_for('contact') }}"> 
        <button type="button">Go to Contact Page</button>
    </a>


    <form method="post" action="{{ url_for('button_click') }}">
        <button type="submit">Click Me</button>
    </form>

</body>

</html>