

<!--------------------make the input--------------------->

<!----------------- the contact box ----------->
<div class="row footer-header-color flex-column flex-md-row">
    <div class="col"></div>
    <div class="col text-center"> <!-- Add text-center class here -->
      <form id="contactForm">
        <div class="form-group">
          <label for="name"></label>
          <input type="text" class="form-control" name="original_url" id="original_url" placeholder="Enter the original url">
        </div>
        <div id="successMessageSubmit" class="submit-success-message" style="display: none;">Message sent successfully!</div>
        <div id="errorMessage" class="submit-error-message bio-font" style="display: none;">Please fill the url</div>
        <button type="submit" class="btn button-custom-color bio-font" id="get_tiny_url">Get Tiny Url</button>
        
      </form>
      <label for="name"></label>
    </div>
    <div class="col"></div>
  </div>