


<body class="background-color-body">
    <div class="container main-container-color shadow-lg">
        <!-- the container is the start of the container  that has boxes inside it -->
        {% for article in articles_json["aticle_data"] %}

        {% set title = article.title %}
        {% if title %}
        {% include 'reusable/card-heading.html'%}
        {% endif %}

        {% set image_src = article.image_src %}
        {% if image_src %}
        {% include 'reusable/article-image.html'%}
        {% endif %}


        {% set article_para = article.article_para %}

        {% if article_para %}
        {% include 'reusable/article-desc.html' %}
        {% endif %}


        {% set markdown_data = article.markdown_data %}
        {% if markdown_data %}
        {% include 'reusable/markdown-block.html' %}
        {% endif %}
        {% endfor %}


        {% set card_one_text= articles_json['card_one_text'] %}
        {% set image_url_card_one= articles_json['image_url_card_one'] %}
        {% set card_first_url= articles_json['card_first_url'] %}

        {% set card_two_text= articles_json['card_two_text'] %}
        {% set image_url_card_two = articles_json['image_url_card_one'] %}

        {% set card_three_text= articles_json['card_three_text'] %}
        {% set image_url_card_three= articles_json['image_url_card_three'] %}

        
        {% include 'reusable/cards-display.html' %}

        {% include 'reusable/article-links.html' %}

        <!--------------------The end of one card  ---------------->

        {% include 'reusable/more.html' %}

    </div>
</body>
