<body class="background-color-body">
    <div class="container main-container-color shadow-lg">
        <!-- the container is the start of the container  that has boxes inside it -->
        {% for article in articles_data %}

        {% set title = article.title %}
        {% if title %}
        {% include 'reusable/card-heading.html'%}
        {% endif %}

        {% set image_src = article.image %}
        {% if image_src %}
        {% include 'reusable/article-image.html'%}
        {% endif %}


        {% set article_para = article.article_para %}

        {% if article_para %}
        {% include 'reusable/article-desc.html' %}
        {% endif %}


        {% set markdown_data = article.markdown_data %}
        {% if markdown_data %}
        {% include 'reusable/markdown-block.html' %}
        {% endif %}
        {% endfor %}


        {% include 'reusable/cards-display.html' %}

        <!--------------------The end of one card  ---------------->

        {% include 'reusable/more.html' %}

    </div>
</body>
