<!DOCTYPE html>
<!--usin the bootstrap in the site for styling and optimization of the screen size-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href ="../static/styles.css">
    
    <title>Home Page</title>
  </head>
  <body>



<!------------------the more box ----------------->
<div class = "row border border-primary" >
  <div class ="col text-center">
  <h1 style="font-size: 3vw;"> More</h1>

</div>
</div>


<div class="container bg-light">


<!------------------the conctact me box ----------------->
<div class = "row  border border-primary" >
<div class ="col text-center">
<h1 style="font-size: 3vw;"> Contact Me</h1>

</div>
</div>



<!----------------- the contact box ----------->
  <div class="row border border-primary">
    
    <div class="col text-center"> <!-- Add text-center class here -->
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

  
</div>



</div>


<!----- the footer -->
<div class ="container-fluid bg-light border border-primary">

 <!----------------------------------->
<div class = "row  border border-primary" >
<div class ="col text-center mt-2">
  © 2024 Copyright:
  <a class="text-dark" href="https://meabhi.com/">meabhi.com</a>

</div>
</div>   


</div>




</body>

</html>